<td>
  <%= link_to user.uid, user %>
</td>
<td>
  <%= link_to user.name, user %>
</td>
<td>
  <%= link_to("Edit user", edit_user_path(user), :class => 'btn btn-default btn-xs btn-success') unless user == current_user %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-xs btn-danger') unless user == current_user %>
</td>
