<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Authenticating a diploma</h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <hr>

            <!-- Preview Image -->
            <div class="fill" style="background-image" ><%= image_tag("blocktrail_screenshot.png") %></div>

            <hr>

            <!-- Post Content -->
            <p class="lead">The Class report file digest is stored in the Bitcoin blockchain, as an OP_RETURN transaction output, as shown in the very last line of the above blocktrail.com screenshot (file digest: b458a901da05428d5a36a9571e00ebbb743630de1d68575294e798c18bfb4a3c).</br>The file itself is stored securely by diploma.report in the Amazon cloud (AWS S3).</br>Recruiters can verify that the Class report digest matches the digest recorded in the blockchain.</br> The Class report is simply a list of the diplomas identified by their digest (see sample Class report below).</br>The Class report can be authenticated by verifying that the Bitcoin address shown at the bottom of the Class report (1PfoofVRHxf24zTyzrcJTTV7nKgHcCz2Ak in our example)</br> 1) is used as an input of the same transaction where the Class report digest is an output,</br> 2) is published by the School as the Bitcoin address corresponding to the Class.</br>Once the Class report is authenticated, a diploma should be considered authentic if its file digest is listed on the Class report.</p>

			<div class="fill" style="background-image" ><%= image_tag("sample_class_report.png") %></div>
			<p><a class="btn btn-default btn-xs btn-success" href="http://diploma.report/deeds/0a60cb185fa9302fb8d2/download"><i class="fa fa-download"></i> Download Sample Class Report</a></p>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
