<% @deed =  Deed.find_by_name('BA') %>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bachelor of Music
                <small>Diploma</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">Sample Document</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-4">
            <%= image_tag @deed.avatar.url %>
        </div>

        <div class="col-md-8">
            <h3>Document Details</h3></br>
            <ul>
                <li>Bachelor of Music, University of California</li></br>
                <li>File SHA256 Digest: a021ad208122840f1ce31740007e53ce6c8e7779ec6cdbfcf8485385e4384bd1</li></br>
                <li>OP_RETURN Tx ID: <a href="https://live.blockcypher.com/btc/tx/5ac252fa2d6d7c6176a902295a4d26e0fa832edda65677b4d7b2bb2d5f5882f5/"  target="blank">5ac252fa2d6d7c6176a902295a4d26e0fa832edda65677b4d7b2bb2d5f5882f5</a></li></br>
            </ul></br>
			<p><a class="btn btn-default btn-xs btn-success" href="<%= "#{download_sample_deed_path(@deed)}" %> "><i class="fa fa-download"></i> Download</a></p>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
