<div style="padding-left: 20px" >
<div>
	  <% flash.each do |key, value| %>

	        <%= value %>

	  <% end %>
</div>
</br>
	<p><a class="btn btn-default btn-xs btn-success" href=<%= "#{root_path}" %> style="background-color:gainsboro;color:black;" >Back to home page</a></p></br>
</div>