<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
        <li>
            <%= link_to 'Contact', page_path('contact') %>
        </li>
        <li>
			<% if current_user %>
				<%= link_to "#{current_user.name}", current_user %>
			<% end %>
        </li>
